.App {
  /* text-align: center; */
  background-color: #5f6a7e;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-body {
  background-color: #5f6a7e;
  min-height: 95vh;
  margin-left: 15px;
  margin-top: 5px;
  /* display: flex; */
}

/* .Battery-charge {
  font-size: calc(40px + 2vmin);
} */

.Toolbar {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}